@charset "UTF-8";


/************************************************************************
 * 최적화       : html5
 * 서비스       : 재능교육***** 사이트 공통
 * 최초작성일   : 
 * 작성자       : 
************************************************************************/

/*■■ 채널의 기본 element 정의 ■■*/
	/* html5 element make
	----------------------- */
	article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
	audio, canvas, video { display: inline-block;  *display: inline; *zoom: 1;}
	/* * Prevent modern browsers from displaying `audio` without controls.  * Remove excess height in iOS 5 devices.  */
	audio:not([controls]) { display: none; height: 0; }
	/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. * Known issue: no IE 6 support.*/
	[hidden] { display: none;}
	
	/* Base
	----------------------- */
	html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size:12px; font-family:Arial, '맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, sans-serif; color:#333;}
	html, button, input, select, textarea {}
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input { margin: 0; padding: 0;}
	caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
	
	/* Typography
	----------------------- */
	h1 {padding:15px 0;}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}
	
	/* mark,인용
	----------------------- */
	abbr[title] { border-bottom: 1px dotted;}
	b, strong { font-weight: bold;}
	blockquote {}
	pre {}
	hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; display:none; margin:50px 0;}
	mark { background: #ff0; color: #000; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	small { font-size: 80%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -2px; }
	sub { bottom: -2px; }
	
	/* Lists
	----------------------- */
	ul, ol { list-style: none; list-style-image: none; }
	
	/* Embedded content
	----------------------- */
	img { border: 0; -ms-interpolation-mode: bicubic;}
	svg:not(:root) { overflow: hidden; }
	
	/* Forms
	----------------------- */
	button, input, select, textarea { font-size: 100%; vertical-align:baseline; *vertical-align: middle;}
	button, input { line-height: normal; }
	button, select { text-transform: none; }
	button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible;}
	button[disabled], html input[disabled] { cursor: default; }
	input[type="checkbox"], input[type="radio"] {box-sizing: border-box; margin-right:3px;}*/
    /*input[type="checkbox"] {margin-top:-3px;}*/
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
	input[type="text"] {padding-left:5px;height:22px;border:1px solid #d8d8d8;vertical-align: middle;color:#666666;}
	input[type="password"] {padding-left:5px;height:19px;border:1px solid #ccc;vertical-align: middle;color:#666666;}
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
	textarea { overflow: auto;vertical-align:top;color:#5B5E5D;border: 1px solid #d8d8d8;font-family:'NanumBarunGothic','나눔바른고딕', '맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, sans-serif;}
	label {padding-right:10px;vertical-align:middle}
	em { font-style:normal; }
	hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre,section, summary, ul, xmp, figure{display: block; }
	legend { width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; text-indent:-15000px; visibility:hidden; }
	select{border:1px solid #cccccc;margin:0; padding:0; vertical-align:middle; font-family:NanumGothic,"나눔고딕",'맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, monospace, sans-serif;height:24px;}
	fieldset, form, label, legend, caption, hr ,figure{margin:0;padding:0; border:0;}
	input{margin:0; padding:0; vertical-align:middle; border:0; font-family:NanumGothic,"나눔고딕",'맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, monospace, sans-serif;}

	/* Tables
	----------------------- */
	table {border-collapse:collapse;empty-cells:show;border-spacing:0;}



/*■■ 채널의 공통영역 정의 ■■*/
	
	/* 기본 링크 정의
	----------------------- */
	a {color:#333; text-decoration:none;}
	/*a:link, a:visited {color:#333; text-decoration: none;outline:none;}*/
	a:hover, a:active {color:#000;}
		
	/* font 정의
	----------------------- */
	.font_b {font-weight:bold !important;}
	.font_n {font-weight:normal !important;}
	.font_gray {color:#666;}
	.font_red {color:#f10000;}
	.font_cyan {color:#336699;}
	.font_green {color:#009933;}
	.font_blue {color:#058ece;}
	.font_right_blue {color:#3c96c3;}
	.font_violet {color:#6666cc;}
	.font_navy {color:#003366;}

	/* Background Color 정의
	----------------------- */
	.bg_gray { background-color:#ccc !important;}
	
	/* Text 정의
	----------------------- */
	.al_l {text-align:left !important;} 
	.al_r {text-align:right !important;}
	.al_c {text-align:center !important;}

	/* Vertical 정의
	----------------------- */
	.valin_t {vertical-align:top;}
	.valin_m {vertical-align:middle;}
	.valin_b {vertical-align:bottom;}
	
	/* border 정의
	----------------------- */
	
	/* margin,padding 정의
	----------------------- */
	.m0 {margin:0px !important;}
	.mt0 {margin-top:0px !important;}
	.mt5 {margin-top:5px;}
	.mt10 {margin-top:10px;}
	.mt15 {margin-top:15px;}
	.mt20 {margin-top:20px;}
	.mt30 {margin-top:30px;}
	.mt-30 {margin-top:-30px;}
	.mt40 {margin-top:40px;}
	.mt50 {margin-top:50px;}
	.mt60 {margin-top:60px;}
	.mt70 {margin-top:70px;}
	.mb0 {margin-bottom:0px;}
	.mb10 {margin-bottom:10px;}
	.mb20 {margin-bottom:20px;}
	.mb30 {margin-bottom:30px;}
	.mb40 {margin-bottom:40px;}
	.mb50 {margin-bottom:50px;}
	.mb60 {margin-bottom:60px;}
	.mb70 {margin-bottom:70px;}
	.mtb5 {margin:5px 0;}
	.mtb10 {margin:10px 0;}
	.mtb50 {margin:50px 0;}
	.mtb15 {margin:15px 0;}
	.p0 {padding:0px !important;}
	.p20 {padding:20px;}
	.pl10 {padding-left:10px;}
	.pl20 {padding-left:20px}
	.pt10 {padding-top:10px;}
	.pt20 {padding-top:20px;}
	.pt30 {padding-top:30px;}
	.pt60{padding-top:60px}
	.pb10{padding-bottom:10px}

	/* Float 정의
	----------------------- */
	.float_l {float:left;}
	.float_r {float:right;}
	.float_n {float:none;}
	
	/* position 정의
	----------------------- */
	.p_rel { position:relative;}
	.p_abs { position:absolute;}

	/* clear , clearfix 정의
	----------------------- */
	.clear {clear:both;}
	.clearfix{zoom:1}
	.clearfix:after{display:block;clear:both;content:"";}

	/* Display 정의
	----------------------- */
	.dp_hidden, .hidden {position:absolute;z-index:-1;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
	.dp_blind, .blind {display:none;}


/*■■ 채널 공통 레이아웃, 디자인 ID,Class,Element 정의 ■■*/

	/* body 영역
	----------------------- */
	body{position:relative;z-index:1}
	body > .wrap{min-width:980px}
	.headerWrap {position:relative;background:url('../img/bg_header.gif') repeat-x 0 0;height:163px;border-bottom:2px solid #fc9d0b;}
	.header {position:relative;background:url('../img/bg_header.gif') repeat-x 0 0;width:960px;height:110px;margin:0 auto;}
	.logout {cursor:pointer;float:right;padding-left:20px;background:#fcaf0b url('../img/ico_logout.png') no-repeat 40px 50%;width:118px;height:17px;text-align:center;}
	.logout strong {vertical-align:-1px;}
	.utilInfo {position:absolute;right:0;top:47px;color:#fff;text-align:right;line-height:18px;font-size:13px}

	/* header */
	.header h1 {position:absolute;top:30px;}
	.header h1 span {position:relative;color:#fff;top:-5px;left:5px;font-weight:normal;font-size:26px} 
	.header ul.gnb {position:absolute;top:110px;height:53px;}
	
	/* gnb */
	.header ul.gnb>li {/*border-right:1px solid #d2d2d2;*/position:relative;font-size:16px;float:left;width:137px;height:53px;background:#f0f0f0 url('../img/line.gif') no-repeat right 0;text-align:center;line-height:52px;}
	.header ul.gnb>li.active {border-bottom:2px solid #fff;}
	.header ul.gnb>li:first-child {border-left:1px solid #d2d2d2;background:url('../img/line.gif') no-repeat right 0;}
	.header ul.gnb>li:first-child .gnbsub li {padding-left:40px;}
	.header ul.gnb>li>a {display:inline-block;width:100%;}
	/*.header ul.gnb>li>a:hover {text-decoration:underline;background:#fff;border:2px solid #fc9d0b;border-bottom:none;width:132px;}*/
	.header ul.gnb>li>a:hover {position:relative;z-index:1000;display:block;margin-left:-1px;text-decoration:underline;background:#fff url('../img/gnb_on.png') no-repeat left 50%;width:138px;}
	.header ul.gnb>li>a.on {margin-left:-1px;text-decoration:underline;background:#fff url('../img/gnb_on.png') no-repeat left 50%;width:138px;position:relative;z-index:1;height:53px;border-bottom:none;}
	.header ul.gnb>li>a.on span.on {background:url('../img/select.png') no-repeat 0 0;width:22px;height:22px;position:absolute;top:-11px;left:58px;}
	.header ul.gnb>li>a:hover span {background:url('../img/select.png') no-repeat 0 0;width:22px;height:22px;position:absolute;top:-11px;left:58px;}
	.header ul.gnb>li:hover .gnbsub {position:relative;z-index:50;display:block;background:#fff url('../img/line.png') no-repeat right 0;width:268px;border:2px solid #fc9d0b;border-top:none;padding:10px 0;margin-left:-1px;}
	.header ul.gnb>li .gnbsub {display:none;background:#fff url('../img/line.png') no-repeat right 0;width:268px;border:2px solid #fc9d0b;border-top:none;padding:10px 0;margin-left:-1px;}
	.header ul.gnb>li .gnbsub li {font-size:14px;text-align:left;padding-left:30px;height:28px;line-height:28px;}
	.header ul.gnb>li .gnbsub li a:hover {font-weight:bold;padding-left:10px;background:url('../img/dash.gif') no-repeat 0 50%;}
	.header ul.gnb>li .gnbsub li a.on {font-weight:bold;padding-left:10px;background:url('../img/dash.gif') no-repeat 0 50%;}
	.header ul.gnb>li .pdleft li {padding-left:36px;}
	.header ul.gnb>li .pdleft02 li {padding-left:48px;}

	/* footer */
	.footer {color:#888;width:960px;margin:60px auto;padding:10px;border-top:1px solid #dbdbdb;}
	.footer img {margin-right:13px;vertical-align:middle;}

	/* sub page */
	.content {width:960px;margin:0 auto;font-size:14px;}
	.conTit {margin-top:54px;padding-left:10px;font-size:22px;font-weight:normal;background:url('../img/bg_tit.png') no-repeat 0 50%;}
	.conTit_sub{margin-top:30px;font-weight:normal;line-height:28px;font-size:13px}
	.path{padding:30px 0 20px 0;}
	.conRight{float:right;width:458px;padding-left:22px;}
	.conLeft{float:left;width:480px}
	.conRight2{float:right;width:260px;}
	.conLeft2{float:left;width:670px}
	.info_line{display:inline-block;line-height:22px;padding-left:13px;padding-right:6px;background:url('../img/line3.png') 0 50% no-repeat;font-weight:normal}
	.info_line_first{display:inline-block;line-height:22px;padding-right:6px;}
	.lineT{border-top:1px solid #fc9d0b;}
	.lineR{border-right:1px solid #dbdbdb}
	.lineL{border-left:1px solid #dbdbdb}
	.lineB{border-bottom:1px solid #dbdbdb}

	/* btnArea */
	.btnArea {clear:both;margin-top:40px;}
	.btnArea a {padding-right:4px;line-height:34px;display:inline-block;height:34px;background:url('../img/btn_right.png') no-repeat right 0;}
	.btnArea a span {font-weight:bold;width:214px;text-align:center;padding-left:6px;display:inline-block;height:34px;background:url('../img/btn_left.png') no-repeat left 0;}
	.btnArea_icon{padding-bottom:35px;padding-top:18px}
	.btnArea_icon a{display:block;float:left;margin-right:14px;width:32px;height:30px;background-position:50% 50%;background-repeat:no-repeat;text-indent:-99999px;}
	.btnArea_txt{padding-top:18px;padding-bottom:35px;}
	.btnArea_txt a{display:block;float:left;margin-right:20px;height:30px;line-height:30px;padding-left:34px;background-position:0 50%;background-repeat:no-repeat;font-size:13px}
	.btnArea_set .btn{display:block;line-height:30px;padding-left:30px;background-position:0 3px;background-repeat:no-repeat;font-size:13px}
	.btnArea_set span.btn{position:relative;z-index:30;padding-left:145px;font-size:13px}
	.btnArea_set span.btn .t{position:absolute;z-index:31;top:0;left:30px;display:block;}
	.btnArea_set span.btn .c{line-height:28px}
	.ie7 .btnArea_set span.btn .t{line-height:16px;}

	.btn_icon{display:block;float:left;margin-right:14px;width:32px;height:30px;background-position:50% 50%;background-repeat:no-repeat;text-indent:-99999px}
	.btn_info{background-image:url('../img/icon_write.png');}
	.btn_member{background-image:url('../img/icon_add.png');}
	.btn_doc{background-image:url('../img/icon_doc_add.png');}
	.btn_doc_add{background-image:url('../img/icon_doc_add2.png');}
	.btn_talk{background-image:url('../img/icon_talk.png');}
	.btn_clock{background-image:url('../img/icon_clock.png');}
	.btn_date{background-image:url('../img/icon_date.png');}
	.btn_set{background-image:url('../img/icon_set.png');}
	.btn_del{background-image:url('../img/icon_delete.png');}
	.btn_cart{background-image:url('../img/icon_cart.png');}

	.btnArea_txt a.btn_del{background-position:3px 50%}
	.btn_graph{display:inline-block;padding-right:6px;padding-left:28px;height:30px;line-height:30px;background:url('../img/btn_check2_on.png') 0 50% no-repeat}
	.btn_q{display:inline-block;margin-left:5px;width:26px;line-height:35px;height:33px;background:url('../img/icon_qestion.png') 0 50% no-repeat;text-indent:-9999px}
	.btn_calendar{display:inline-block;padding-left:5px;width:26px;line-height:35px;height:33px;background:url(../img/icon_calendar.png) right 50% no-repeat;text-indent:-9999px}
	.btn_search{display:inline-block;padding-left:30px;line-height:35px;background:url('../img/icon_search.png') 0 50% no-repeat;}
	.btn_delete{display:block;margin:0 auto;width:24px;text-indent:-9999px;line-height:35px;background:url('../img/icon_delete.png') 0 50% no-repeat;}
	
	.icon_cart{padding-left:28px;background-position:0 4px;background-repeat:no-repeat;background-image:url('../img/icon_cart.png');}

	/* color */
	.blue{color:#1387cf;font-weight:normal;}
	.blue:hover{color:#225A7C}
	.gray{color:#9a9a9a;font-weight:normal;}
	.gray:hover{color:#636363}
	.yellow{color:#fc9d0b;}
	.must{color:#fc9d0b;}

	/* paging */
	.paging {text-align:center;margin:30px 0;font-size:14px;}
	.paging a {color:#666;background:url('../img/paging_line.gif') no-repeat right 50%;padding:0 7px 0 4px;}
	.paging a.on {color:#000;}

	/* form style */
	.attach {margin-bottom:10px;width:300px;position:relative;left:113px;top:-16px;}
	.editorArea {font-size:12px;padding:20px 50px;}
	.editorArea .rep_name {height:30px;background:url('../img/bg_reply.png') no-repeat 0 50%;width:874px;margin-left:-17px;position:relative;top:7px;}
	.rep_name>div {margin-top:-10px;}
	.editorArea span.rep_time {float:right;}
	.rep_answer {margin:12px 0;border:1px solid #d2d2d2;padding:10px 30px;}
	.postSugg {margin-left:113px;}
	.ie7 select{background-image:none !important;}
	.ie8 select{background-image:none !important;padding:5px}

	/* textarea */
	.textarea_wrap{position:relative;z-index:30;display:inline-block;}
	.textarea_wrap textarea{padding:10px 10px 10px;width:323px;height:60px}
	.textarea_wrap textarea:focus{outline:0}
	.textarea_wrap .max{position:absolute;z-index:51;display:block;line-height:23px;right:0px;bottom:0px;}
	.textarea_wrap label{line-height:30px;vertical-align:top;}
	.textarea_wrap .max_char_txt{line-height:24px;margin-top:10px;margin-left:112px;display:block;padding-left:15px;background:url(../img/line2.png) no-repeat}

	/* table style */
	.tbl01 {border-top:1px solid #fc9d0b;margin-top:25px;}
	.tbl01.mt50{margin-top:50px}
	.tbl01 table {width:100%;font-size:13px;}
	.tbl01 thead th {text-align:center;font-weight:normal;background:#fff8ec;padding:13px 0;border-bottom:1px solid #dbdbdb;}
	.tbl01 tbody td {height:30px;text-align:center;border-bottom:1px solid #dbdbdb;padding:5px 0;}
	.tbl01 tbody td img {vertical-align:middle;margin-right:8px;}
	.tbl01 tbody td.left {text-align:left;padding-left:20px;}
	.tbl01 thead th.left {text-align:left;padding-left:20px;}
	.tbl01 tbody th{text-align:center;font-weight:normal;background:#fff8ec;padding:13px 0;border-bottom:1px solid #dbdbdb;text-align:left;padding-left:20px;}
	.tbl01 tbody td .appoint {text-align:left;line-height:19px;padding-left:30px;}
	.tbl01 tbody td.conTxt {text-align:left;line-height:21px;padding:26px 30px;}
	.tbl01 tbody tr.total td{background:#f7f7f7;font-weight:bold;}
	.tbl01 thead tr.bg_gray th{background:#f7f7f7;}
	.tbl01 td.col_gray{background:#f7f7f7;}
	.tbl01 thead tr.line th{border-left:1px solid #dbdbdb}
	.tbl01 thead tr.line th.no_line{border-left:0}
	.tbl01 tbody tr.subject td{background:#f7f7f7;font-weight:bold;}
	.tbl01 tbody tr.line td{border-bottom:1px solid #fc9d0b;border-top:1px solid #fc9d0b;}
	.tbl01 tbody tr.line2 td{border-left:1px solid #dbdbdb}
	.tbl01 tbody tr.line2 td.no_line{border-left:0}
	.tbl01 tbody tr.line2 th{border-left:1px solid #dbdbdb}
	.tbl01 tbody tr.line2 th.no_line{border-left:0}
	.tbl01 thead th.b_r{border-right:1px solid #dbdbdb}

	.tbl01 select{padding-left:5px;width:100px;height:35px;border:1px solid #d2d2d2;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:#fff url('../img/sel_arrow.png') no-repeat 94% 50%;}
	.tbl01 select::-ms-expand{display:none;}
	.ie8 .tbl01 select{padding:5px 0px 5px 5px}
	.tbl01 .check_style01{margin-left:7px}
	.tbl01 .chk_s01{margin-left:7px}
	.tbl01 .arrow td{position:relative;z-index:50}
	.tbl01 .arrow td span.icon{display:block;width:23px;height:13px;position:absolute;z-index:51;top:13px;right:-22px;background:url(../img/icon_arrow.png) 0 50% no-repeat;}
	.tbl01 .n{display:inline-block;width:30px;text-align:center;}
	.tbl01 .link{color:#1387cf;text-decoration:underline;display:inline-block;}
	.tbl01 .area_right{display:block;float:right}
	.tbl01 .area_left{display:block;float:left;vertical-align:middle;line-height:20px;padding:5px 0}
	.tbl01 .next_sel{display:block;padding-top:5px}
	.tbl01 .next_sel .chk_s01{margin-left:0}
	.tbl01 .radio_wrap{line-height:20px}
	.tbl01 .line{padding-left:20px;padding-top:3px;padding-bottom:3px;background:url(../img/line2.png) 0 0px no-repeat;}
	.tbl01 td .btnArea{margin-top:10px}

	/* list style */
	.list01{margin-top:25px;font-size:13px}
	.list01 ul{border-top:1px solid #fc9d0b}
	.list01 ul li{position:relative;z-index:30;border-bottom:1px solid #dbdbdb}
	.list01 ul li a{display:block;padding:9px 82px 9px 20px;line-height:22px;font-size:13px}
	.list01 ul li a .date{display:block;width:82px;position:absolute;z-index:31;right:0;top:10px;}
	.list01 ul li a img{vertical-align:middle}
	.list02 li {overflow:hidden;padding-bottom:10px;font-size:13px}
	.list02 li .tit{display:block;float:left;line-height: 35px;width:140px;vertical-align:top}
	.list02 li .tit2{display: inline-block;line-height: 35px;width:170px;vertical-align:top}
	.list02 li .tit3{display: inline-block;line-height: 35px;width:150px;vertical-align:top;padding-left:0;padding-right:0}
	.list02 select, .list04 select {padding-left:5px;height:35px;border:1px solid #d2d2d2;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:transparent url('../img/sel_arrow.png') no-repeat 94% 50%;}
	.list02 select::-ms-expand, .list04 select::-ms-expand{display:none;}
	.list02 li strong{line-height:35px;vertical-align:middle}
	.list02 .next_sel{display:block;padding-top:10px}
	.list02 .next_input{display:block;padding-top:10px;padding-left:140px}
	.list02 .textarea_wrap{float:left;width:390px}
	.list02 .textarea_wrap .max_char_txt{margin-left:0}
	.list02 .chk_s01{vertical-align:middle;display:inline-block;line-height:33px;padding-right:10px}
	.list02 .attach{float:left;padding-bottom:1px;width:400px;margin-right:10px;overflow:hidden;margin-bottom:0;left:0px;top:0}
	.list02 li .file_input_textbox {height:32px;}
	.list02 li .file_input_div {position:relative;width:75px;top:-35px;left:421px;}
	.ie7 .list02 li .file_input_div{top:-37px}
	.list02 li .file_input_div02 {position:relative;width:100px;height:37px;overflow:hidden;top:-61px;left:421px;}
	.list02 li .file_input_hidden {font-size:20px;position:absolute;top:-7px;height:34px;opacity:0;filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;margin-top:7px;width:72px;left:-105px;}
	.list02 li .file_input_button {width:75px;height:35px;position:absolute;top:1px;background:#fefefe url('../img/btn_serch.png') no-repeat 0 0;color:#000;left:-105px;}
	.list02 li .text_value{display:inline-block;line-height:35px}
	.list02 li .btnArea{display:inline-block;padding-left:5px;margin-top:-1px;clear:none;}
	.list02 .delete{float:left;width:30px}

	.list03{padding-top:25px}
	.list03 li{padding-bottom:10px;font-size:13px}
	.list03 p{font-size:15px;padding-bottom:16px}
	.list04 li {padding-bottom:20px;font-size:13px}


	/* input style */
	.radio_wrap{line-height:35px}
	.radio_wrap input[type="radio"]{vertical-align:middle;display:none;}
	.radio_wrap input[type="radio"] + label{display:inline-block;line-height:20px;padding:6px 10px 6px 30px;background:url(../img/bg_radio_off.png) 0 5px no-repeat;vertical-align:middle;cursor:pointer}
	.radio_wrap input[type="radio"]:checked + label{background-image:url(../img/bg_radio_on.png);}
	.ie7 .radio_wrap input[type="radio"], .ie8 .radio_wrap input[type="radio"]{display:inline;}
	.ie7 .radio_wrap input[type="radio"] + label, .ie8 .radio_wrap input[type="radio"] + label{padding-left:3px;background:none;}
	.radio_wrap input[type="text"]{}
	.check_style01 input[type="checkbox"]{display:none;}
	.check_style01 input[type="checkbox"] + label{display:inline-block;padding-left:30px;line-height:22px;height:22px;background:url(../img/btn_check3_off.png) 0 0 no-repeat;cursor:pointer}
	.check_style01 input[type="checkbox"]:checked + label{background:url(../img/btn_check3_on.png) 0 0 no-repeat;}
	.check_style01 input[type="checkbox"]:disabled + label{background:url(../img/btn_check2_disable.png) 0 0 no-repeat;cursor:default;}
	.ie7 .check_style01 input[type="checkbox"], .ie8 .check_style01 input[type="checkbox"]{display:inline;}
	.ie7 .check_style01 input[type="checkbox"] + label, .ie8 .check_style01 input[type="checkbox"] + label{padding-left:3px;background:none;}
	.chk_s01 input[type="checkbox"]{display:none;}
	.chk_s01 input[type="checkbox"] + label{display:inline-block;padding-left:30px;line-height:22px;height:22px;background:url(../img/btn_check3_off.png) 0 0 no-repeat;cursor:pointer}
	.chk_s01 input[type="checkbox"]:checked + label{background:url(../img/btn_check3_on.png) 0 0 no-repeat;}
	.chk_s01 input[type="checkbox"]:disabled + label{background:url(../img/btn_check2_disable.png) 0 0 no-repeat;cursor:default;}
	.ie7 .chk_s01 input[type="checkbox"], .ie8 .chk_s01 input[type="checkbox"]{display:inline;}
	.ie7 .chk_s01 input[type="checkbox"] + label, .ie8 .chk_s01 input[type="checkbox"] + label{padding-left:3px;background:none;}
	input[type="text"].searchInput {height:21px;padding:6px 0 6px 10px;line-height:21px;border:1px solid #d2d2d2;}
	input[type="password"].searchInput {height:21px;padding:6px 0 6px 10px;line-height:21px;border:1px solid #d2d2d2;}

	/*  Main */
	.current_month {float:left;width:480px;}
	.last_month{float:left;width:456;padding-left:24px;}
	.event_calender .conTit{margin-bottom:25px}
	
	/*memSearch*/
	.memSearch {margin:30px 0 0 0;}
	.memSearch li {padding-bottom:10px;}
	.memSearch li label {display:inline-block;width:108px;}
	.memSearch li select {padding-left:5px;width:346px;height:35px;border:1px solid #d2d2d2;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:transparent url('../img/sel_arrow.png') no-repeat 98% 50%;}
	.memSearch li select::-ms-expand {display: none}
	.memSearch li.last  {height:1%;overflow:hidden;}
	.memSearch li.last>label {float:left;}
	.memSearch li.last .classDay {width:372px;margin-left:5px;float:left;}
	.memSearch li.last .inputWidth {width:670px;}
	.memSearch li.last .classDay li {float:left;}
	.memSearch li.last .classDay li input[type="checkbox"] { display:none;}
	.memSearch li.last .classDay li input[type="checkbox"] + label {cursor:pointer;}
	.memSearch li.last .classDay li input[type="checkbox"] + label span {display:inline-block; width:25px; height:23px; margin:-1px 7px 0 0; vertical-align:middle; background:url("../img/btn_check.png") right top no-repeat; cursor:pointer;}
	.memSearch li.last .classDay li input[type="checkbox"]:checked + label span {background:url("../img/btn_check.png") left top no-repeat;}
	.memSearch li.last label.labelpd {padding-top:3px;}
	.memSearch li p.editor {width:848px;margin-left:4px;float:left;}
	.memSearch li .file_input_textbox {height:32px;}
	.memSearch li .file_input_div {position:relative;width:100px;top:-35px;left:421px;}
	.memSearch li .file_input_div02 {position:relative;width:100px;height:37px;overflow:hidden;top:-61px;left:421px;}
	.memSearch li .file_input_hidden {font-size:20px;position:absolute;top:-7px;height:34px;opacity:0;filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;margin-top:7px;width:72px;left:-105px;}
	.memSearch li .file_input_button {width:75px;height:35px;position:absolute;top:0px;background:#fefefe url('../img/btn_serch.png') no-repeat 0 0;color:#000;left:-105px;}

	/*ie7*/
	.ie7 .editorArea .rep_name {left:-17px;}
	.ie7 .editorArea span.rep_time {float:right;margin-top:-12px;}
	.ie7 .memSearch li.last .inputWidth {width:760px;}
	.ie7 .memSearch li.last .classDay li {float:left;}
	.ie7 .memSearch li.last .classDay li input[type="checkbox"] {display:inline-block;margin-right:5px;}
	.ie7 .memSearch li.last .classDay li input[type="checkbox"] + label span {display:none;margin:0px 5px 0 0;background:none;}
	/*ie8*/
	.ie8 .memSearch li.last .inputWidth {width:760px;}
	.ie8 .memSearch li.last .classDay li {float:left;}
	.ie8 .memSearch li.last .classDay li input[type="checkbox"] {display:inline-block;margin-right:5px;}
	.ie8 .memSearch li.last .classDay li input[type="checkbox"] + label span {display:none;margin:0px 5px 0 0;background:none;}
	.ie8 .memSearch li select {padding:6px 0 6px 10px;}

	/* survey */
	.add_survey{margin:30px 0 0 0;}
	.add_survey li{padding-bottom:10px}
	.add_survey li label, .add_survey .title{display:inline-block;line-height:35px;width:108px}
	.add_survey li label.line{padding-left:20px;width:88px;background:url(../img/line2.png) 0px 6px no-repeat}
	.add_survey .btn_add_list{display:inline-block;margin-left:112px;color:#666666;margin-bottom:8px}
	.add_survey li label.radio_label{width:auto}
	.add_survey li.last{padding-bottom:0}
	.view_survey{margin-top:30px}
	.view_survey .survey_con{line-height:23px;padding-bottom:18px}
	.survey{position:relative;z-index:1}
	.survey .print_btn{display:block;position:absolute;z-index:10;top:5px;right:0}
	.survey .print_btn img{vertical-align:middle}

	/* selection_list */
	.selection_list{padding-bottom:15px;font-size:13px;}
	.selection_list p{font-weight:bold;padding-bottom:7px;font-size:15px;}
	.selection_list li{position:relative;z-index:30;padding-left:110px;padding-bottom:10px}
	.ie7 .selection_list li{height:35px}
	.selection_list .title{position:absolute;z-index:31;display:block;top:0;left:0;line-height:35px;width:108px}
	.selection_list .line{padding-left:20px;background:url(../img/line2.png) 0px 6px no-repeat}
	.selection_list .line2{padding-left:30px;background:url(../img/line2.png) 10px 6px no-repeat}
	.selection_list .text{display:block;border-bottom:1px solid #d2d2d2;line-height:35px;text-align:right;}
	.selection_list .input_w{display:block;line-height:35px;text-align:right;}

	/* question_list */
	.question_list{padding-top:35px}
	.question_list p{font-size:13px;font-weight:bold;padding-bottom:7px}
	.question_list ul li{}

	/* product_list */
	.product_list{padding:8px 0}
	.product_list .tit{display:inline-block;width:55px;font-weight:bold;}
	.product_list li{padding:3px 0;}
	.product_list li em{display:block;font-weight:bold;padding-bottom:3px}
	.product_list li .txt{display:inline-block;padding:3px 0 0px 0;line-height:23px}
	.wrap_order{padding:8px 0}
	.wrap_order .qty{display:inline-block;padding-right:7px;}
	.p_img_wrap{display:block;width:150px;margin:5px auto;text-align:center;}
	.p_img_wrap img{display:block;max-width:100%;}
	.p_img_wrap .tit_img{display:block;text-align:left;line-height:20px}

	/* select_list */
	.select_list{padding-top:35px}
	.select_list p{font-weight:bold;padding-bottom:30px;font-size:13px;}
	.select_list li {padding-bottom:10px}
	.select_list li img{vertical-align:middle}
	.select_list li a {color:#1387cf;text-decoration:underline;display:inline-block;width:58px;text-align:right;}
	.select_list li span.check_style01{display:inline-block;width:130px}
	.select_list li span.chk_s01{display:inline-block;width:90px}
	.select_list select {padding-left:10px;width:346px;height:35px;border:1px solid #d2d2d2;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:#fff url('../img/sel_arrow.png') no-repeat 94% 50%;}
	.select_list select::-ms-expand {display: none}
	.ie8 .select_list select{padding:5px 0 5px 10px;background:none;}
	.select_list .next_sel{display:block;padding-top:5px;padding-left:134px}
	
	/* lank_list */
	.lank_list{margin-top:25px;}
	.lank_list dl{border-top: 1px solid #fc9d0b;}
	.lank_list dt{text-align:center;padding:13px 0;background:#fff8ec;line-height:15px}
	.lank_list dd{height:213px;overflow-y:auto;border-bottom:1px solid #dbdbdb;border-top: 1px solid #dbdbdb;}
	.lank_list dd li{margin-top:-1px;background:#fff;overflow:hidden;border-top:1px solid #dbdbdb;padding:12px 0;line-height:19px}
	.lank_list dd li span{display:block;float:left;width:25%;text-align:center;}
	.ie7 .lank_list dd li{margin-top:-4px}
	.ie7 .lank_list dd li span{width:24.5%}

	/* add_new_list */
	.add_new_list{padding-top:80px}
	.add_new_list .tit {line-height:30px;padding-left:30px;background:url(../img/icon_doc_add.png) 0 46% no-repeat;font-size:14px;font-weight:normal;}
	.add_new_list .tit strong{color:#e60013}

	/* input_list */
	.input_list li{padding-top:20px;font-size:14px}
	.input_list li .tit{display:inline-block;padding-right:45px}
	.input_list li .check_style01{padding-right:20px}
	.input_list li .chk_s01{padding-right:20px}
	
	/* cart_list */
	.cart_list p{padding-top:30px;line-height:25px;font-size:13px;font-weight:bold;}

	/* result_list */
	.result_list{max-height:122px;overflow-y:auto}
	.result_list li{overflow:hidden;position:relative;z-index:50;padding:6px 0;line-height:28px;border-bottom:1px solid #dbdbdb}
	.result_list li:last-child{border-bottom:0}
	.result_list li .icon{display:block;width:23px;height:13px;position:absolute;z-index:51;left:50%;top:50%;margin-top:-6px;margin-left:-11px;background:url(../img/icon_arrow.png) 0 50% no-repeat;}
	.result_list li .q_num{display:block;float:left;width:49%;text-align:center;}
	.result_list li .loss_set{display:block;float:right;width:46%;text-align:center;}
	
	/* month_list */
	.month_list{width:100%;position:relative;max-height:245px;overflow-y:auto;overflow-x:hidden;}
	.month_list li{overflow:hidden;margin-right:-16px;position:relative;z-index:50;padding:6px 0;line-height:28px;border-bottom:1px solid #dbdbdb}
	.month_list li:last-child{border-bottom:0}
	.month_list li span.col{display:block;float:left;width:80px}
	.month_list li span.subject{display:block;float:left;width:127px;text-align:left;text-indent:20px}
	.month_list li span{vertical-align:middle;}

	/* center_list */
	.check_list{margin-left:140px;border-top:1px solid #fc9d0b;}
	.check_list li{padding:10px 20px;border-bottom:1px solid #dbdbdb}
	.check_list .top{background:#fff8ec}
	.check_list .chk_s01{line-height:22px}

	/* popup */
	.popup{min-width:600px;}
	.btn_popup_close{text-indent:-99999px;position:absolute;z-index:10;top:21px;right:30px;width:17px;height:17px;background:url(../img/btn_popup_close.gif) no-repeat}
	.popup_top{position:relative;z-index:1;background:#486577;color:#fff;height:57px;}
	.popup_top h1{font-size:20px;padding-left:30px;font-weight:normal;line-height:28px}
	.popup_content .conTit{margin-top:0}
	.popup_content .conLeft{width:48%;}
	.popup_content .conRight{width:48%;padding-left:0}
	.popup_content .conLeft .conTit{margin-top:35px}
	.popup_content .conRight .conTit{margin-top:35px}
	.popup_content .btnArea{margin-top:20px}
	.popup_content .btnArea a span{font-size:14px;}
	.btn_wrap {overflow:hidden;margin-left:1px}
	.btn_wrap a{display:block;color:#333;font-weight:bold;font-size:17px;width:50%;margin-left:-1px;border-left:1px solid #fff;float:left;line-height:61px;background:#f0f0f0;text-align:center;}
	.ie7 .btn_wrap a{margin-left:-2px}
	.btn_wrap a:hover{background:#e4e4e4}

	/* survey popup */
	.pop_survey{padding:50px 30px}
	.survey_subject{position:relative;padding-left:76px;z-index:110;border:1px solid #d3d3d3;}
	.survey_subject span{display:block;position:absolute;z-index:111;top:-1px;bottom:-1px;left:-1px;width:73px;background:#fcaf0b url(../img/icon_survey.png) 56% 48% no-repeat;text-indent:-99999px;}
	.survey_subject p{line-height:22px;padding:17px;font-size:13px}
	.survey_list{height:280px;overflow-y:auto;margin-top:10px;}
	.survey_list ul{padding-right:10px}
	.survey_list input[type="checkbox"]{display:none;}
	.survey_list input[type="checkbox"] + label{display:inline-block;text-indent:-99999px;width:60px;height:32px;background:url(../img/survey_off.png) 50% 50% no-repeat;cursor:pointer}
	.survey_list input[type="checkbox"]:checked + label{background:url(../img/survey_on.png) 50% 50% no-repeat;}
	.survey_list li{border-bottom:1px solid #f0f0f0;font-size:13px}
	.survey_list li{padding:20px 0}
	.survey_list_result{position:relative;height:280px;overflow-y:auto;margin-top:10px;}
	.survey_list_result ul{padding-right:10px}
	.survey_list_result li{position:relative;border-bottom:1px solid #f0f0f0;padding:20px 0}
	.percent{position:relative;z-index:10;height:15px;margin-right:50px;margin-top:14px;}
	.percent .bar{display:block;position:absolute;z-index:20;top:0;bottom:0;background:#f0f0f0;}
	.percent .bar .txt{display:block;width:35px;position:absolute;z-index:22;right:-40px;font-size:14px;font-weight:bold;color:#fcaf0b}
	.percent.on .bar{background:#fcaf0b}

	/* input popup */
	.pop_input{padding:32px 30px}

	/* jisa popup */
	.pop_jisa{padding:25px 30px}
	.pop_jisa .textarea_wrap{display:block;padding-top:10px}
	.pop_jisa .textarea_wrap textarea{width:98%;padding:10px 1%}
	.pop_jisa .textarea_wrap .max_char_txt{margin-left:0}
	.pop_jisa .textarea_wrap .max{bottom:0px;right:0}

	/*gm popup */
	.pop_gm{padding:25px 30px}