@charset "UTF-8";


/************************************************************************
 * 최적화       : html5
 * 서비스       : 재능교육***** 사이트 공통
 * 최초작성일   : 
 * 작성자       : 
************************************************************************/

/*■■ 채널의 기본 element 정의 ■■*/
	/* html5 element make
	----------------------- */
	article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
	audio, canvas, video { display: inline-block;  *display: inline; *zoom: 1;}
	/* * Prevent modern browsers from displaying `audio` without controls.  * Remove excess height in iOS 5 devices.  */
	audio:not([controls]) { display: none; height: 0; }
	/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. * Known issue: no IE 6 support.*/
	[hidden] { display: none;}
	
	/* Base
	----------------------- */
	html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size:12px; font-family:Arial, '맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, sans-serif; color:#333;}
	html, button, input, select, textarea {}
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input { margin: 0; padding: 0;}
	caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
	

	
	/* Typography
	----------------------- */
	h1 {padding:15px 0;}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}
	
	/* mark,인용
	----------------------- */
	abbr[title] { border-bottom: 1px dotted;}
	b, strong { font-weight: bold;}
	blockquote {}
	pre {}
	hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; display:none; margin:50px 0;}
	mark { background: #ff0; color: #000; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	small { font-size: 80%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -2px; }
	sub { bottom: -2px; }
	
	/* Lists
	----------------------- */
	ul, ol { list-style: none; list-style-image: none; }
	
	/* Embedded content
	----------------------- */
	img { border: 0; -ms-interpolation-mode: bicubic;}
	svg:not(:root) { overflow: hidden; }
	
	/* Forms
	----------------------- */
	button, input, select, textarea { font-size: 100%; vertical-align:baseline; *vertical-align: middle;}
	button, input { line-height: normal; }
	button, select { text-transform: none; }
	button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible;}
	button[disabled], html input[disabled] { cursor: default; }
	input[type="checkbox"], input[type="radio"] {box-sizing: border-box; margin-right:3px;}*/
    /*input[type="checkbox"] {margin-top:-3px;}*/
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
	input[type="text"] {padding-left:5px;height:22px;border:1px solid #d8d8d8;vertical-align: middle;color:#666666;}
	input[type="password"] {padding-left:5px;height:19px;border:1px solid #ccc;vertical-align: middle;color:#666666;}
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
	textarea { overflow: auto;vertical-align:top;color:#5B5E5D;border: 1px solid #d8d8d8;font-family:'NanumBarunGothic','나눔바른고딕', '맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, sans-serif;}
	label {padding-right:10px;vertical-align:middle}
	em { font-style:normal; }
	hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre,section, summary, ul, xmp, figure{display: block; }
	legend { width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; text-indent:-15000px; visibility:hidden; }
	select{border:1px solid #cccccc;margin:0; padding:0; vertical-align:middle; font-family:NanumGothic,"나눔고딕",'맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, monospace, sans-serif;height:24px;}
	fieldset, form, label, legend, caption, hr ,figure{margin:0;padding:0; border:0;}
	input{margin:0; padding:0; vertical-align:middle; border:0; font-family:NanumGothic,"나눔고딕",'맑은 고딕', 'Malgun Gothic', "돋움", Dotum, "굴림", Gulim, monospace, sans-serif;}



	/* Tables
	----------------------- */
	table {border-collapse:collapse;empty-cells:show;border-spacing:0;}



/*■■ 채널의 공통영역 정의 ■■*/
	
	/* 기본 링크 정의
	----------------------- */
	a {color:#333; text-decoration:none;}
	/*a:link, a:visited {color:#333; text-decoration: none;outline:none;}*/
	a:hover, a:active {color:#000;}

	
	/* 링크 정의
	----------------------- */
		
	/* font 정의
	----------------------- */
	.font_b {font-weight:bold !important;}
	.font_n {font-weight:normal !important;}
	.font_gray {color:#666;}
	.font_red {color:#f10000;}
	.font_cyan {color:#336699;}
	.font_green {color:#009933;}
	.font_blue {color:#058ece;}
	.font_right_blue {color:#3c96c3;}
	.font_violet {color:#6666cc;}
	.font_navy {color:#003366;}


	
	/* Background Color 정의
	----------------------- */
	.bg_gray { background-color:#ccc !important;}
	
		
	/* Text 정의
	----------------------- */
	.al_l {text-align:left !important;} 
	.al_r {text-align:right !important;}
	.al_c {text-align:center !important;}
	
	
	/* Vertical 정의
	----------------------- */
	.valin_t {vertical-align:top;}
	.valin_m {vertical-align:middle;}
	.valin_b {vertical-align:bottom;}
	
	/* border 정의
	----------------------- */
	
	
	/* margin,padding 정의
	----------------------- */
	.m0 {margin:0px;}
	.mt0 {margin-top:0px;}
	.mt5 {margin-top:5px;}
	.mt10 {margin-top:10px;}
	.mt15 {margin-top:15px;}
	.mt20 {margin-top:20px;}
	.mt30 {margin-top:30px;}
	.mt-30 {margin-top:-30px;}
	.mt40 {margin-top:40px;}
	.mt50 {margin-top:50px;}
	.mt60 {margin-top:60px;}
	.mt70 {margin-top:70px;}
	.mb0 {margin-bottom:0px;}
	.mb10 {margin-bottom:10px;}
	.mb20 {margin-bottom:20px;}
	.mb30 {margin-bottom:30px;}
	.mb40 {margin-bottom:40px;}
	.mb50 {margin-bottom:50px;}
	.mb60 {margin-bottom:60px;}
	.mb70 {margin-bottom:70px;}
	.mtb5 {margin:5px 0;}
	.mtb10 {margin:10px 0;}
	.mtb50 {margin:50px 0;}
	.mtb15 {margin:15px 0;}
	.p0 {padding:0px !important;}
	.p20 {padding:20px;}
	.pt10 {padding-top:10px;}
	.pl10 {padding-left:10px;}

	/* Float 정의
	----------------------- */
	.float_l {float:left;}
	.float_r {float:right;}
	.float_n {float:none;}
	
	/* position 정의
	----------------------- */
	.p_rel { position:relative;}
	.p_abs { position:absolute;}

		
	/* clear 정의
	----------------------- */
	.clear {clear:both;}
		
	/* Display 정의
	----------------------- */
	.dp_hidden, .hidden {position:absolute;z-index:-1;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
	.dp_blind, .blind {display:none;}


	

/*■■ 채널 공통 레이아웃, 디자인 ID,Class,Element 정의 ■■*/

	/* body 영역
	----------------------- */
	.headerWrap {background:url('/public/img/bg_header.gif') repeat-x 0 0;height:163px;border-bottom:2px solid #fc9d0b;}
	.header {position:relative;background:url('/public/img/bg_header.gif') repeat-x 0 0;width:960px;height:110px;margin:0 auto;}
	.logout {cursor:pointer;float:right;padding-left:20px;background:#fcaf0b url('/public/img/ico_logout.png') no-repeat 40px 50%;width:118px;height:17px;text-align:center;}
	.logout strong {vertical-align:-1px;}
	.utilInfo {position:absolute;right:0;top:47px;color:#fff;text-align:right;line-height:18px;}
	.header h1 {position:absolute;top:30px;}
	.header h1 span {position:relative;color:#fff;top:-10px;left:15px;} 
	.header ul.gnb {padding-top:110px;height:53px;}
	.header ul.gnb>li {/*border-right:1px solid #d2d2d2;*/position:relative;font-size:14px;float:left;width:136px;height:53px;background:#f0f0f0 url('/public/img/line.gif') no-repeat right 0;text-align:center;line-height:53px;}
	.header ul.gnb>li.active {border-bottom:2px solid #fff;}
	.header ul.gnb>li:first-child {border-left:1px solid #d2d2d2;background:url('/public/img/line.gif') no-repeat right 0;}
	.header ul.gnb>li:first-child .gnbsub li {padding-left:40px;}
	.header ul.gnb>li>a {display:inline-block;width:100%;border-bottom:2px solid #fc9d0b;}
	/*.header ul.gnb>li>a:hover {text-decoration:underline;background:#fff;border:2px solid #fc9d0b;border-bottom:none;width:132px;}*/
	.header ul.gnb>li>a:hover {position:relative;z-index:1000;display:block;margin-left:-1px;text-decoration:underline;background:#fff url('/public/img/gnb_on.png') no-repeat left 50%;width:138px;}

	.header ul.gnb>li>a.on {margin-left:-1px;text-decoration:underline;background:#fff url('/public/img/gnb_on.png') no-repeat left 50%;width:138px;position:relative;z-index:1;height:53px;border-bottom:none;}
	.header ul.gnb>li>a.on span.on {background:url('/public/img/select.png') no-repeat 0 0;width:22px;height:22px;position:absolute;top:-11px;left:58px;}


	.header ul.gnb>li>a:hover span {background:url('/public/img/select.png') no-repeat 0 0;width:22px;height:22px;position:absolute;top:-11px;left:58px;}
	.header ul.gnb>li:hover .gnbsub {display:block;background:#fff url('/public/img/line.png') no-repeat right 0;width:268px;border:2px solid #fc9d0b;border-top:none;padding:10px 0;margin-left:-1px;}

	.header ul.gnb>li .gnbsub {display:none;background:#fff url('/public/img/line.png') no-repeat right 0;width:268px;border:2px solid #fc9d0b;border-top:none;padding:10px 0;margin-left:-1px;}
	.header ul.gnb>li .gnbsub li {text-align:left;padding-left:30px;height:28px;line-height:28px;}
	.header ul.gnb>li .gnbsub li a:hover {font-weight:bold;padding-left:10px;background:url('/public/img/dash.gif') no-repeat 0 50%;}
	.header ul.gnb>li .gnbsub li a.on {font-weight:bold;padding-left:10px;background:url('/public/img/dash.gif') no-repeat 0 50%;}

	.header ul.gnb>li .pdleft li {padding-left:36px;}
	.header ul.gnb>li .pdleft02 li {padding-left:48px;}
	.ie7 .header ul {width:960px;}
	.ie7 .header ul.gnb {padding-top:93px;}


	.content {width:960px;margin:0 auto;font-size:14px;}
	.conTit {margin-top:60px;padding-left:10px;font-size:22px;font-weight:normal;background:url('/public/img/bg_tit.png') no-repeat 0 50%;}
	.memSearch {margin:30px 0 0 0;}
	.memSearch li {margin-bottom:10px;}
	.memSearch li label {display:inline-block;width:108px;}
	.memSearch li select {padding-left:10px;width:346px;height:33px;border:1px solid #d2d2d2;}
	.memSearch li.last  {height:1%;overflow:hidden;}
	.memSearch li.last>label {float:left;}
	.memSearch li.last .classDay {width:372px;margin-left:5px;float:left;}
	.memSearch li.last .classDay li {float:left;}


	.memSearch li.last .classDay li input[type="checkbox"] { display:none;}
	.memSearch li.last .classDay li input[type="checkbox"] + label {cursor:pointer;}
	.memSearch li.last .classDay li input[type="checkbox"] + label span {display:inline-block; width:25px; height:23px; margin:-1px 7px 0 0; vertical-align:middle; background:url("/public/img/btn_check.png") right top no-repeat; cursor:pointer;}
	.memSearch li.last .classDay li input[type="checkbox"]:checked + label span {background:url("/public/img/btn_check.png") left top no-repeat;}


	.btnArea {clear:both;margin-top:40px;}
	.btnArea a {padding-right:4px;line-height:34px;display:inline-block;height:34px;background:url('/public/img/btn_right.png') no-repeat right 0;}
	.btnArea a span {font-weight:bold;width:214px;text-align:center;padding-left:6px;display:inline-block;height:34px;background:url('/public/img/btn_left.png') no-repeat left 0;}

	.footer {color:#888;width:960px;margin:60px auto;padding:10px;border-top:1px solid #dbdbdb;}
	.footer img {margin-right:13px;vertical-align:middle;}

	.tbl01 {border-top:1px solid #fc9d0b;margin-top:30px;}
	.tbl01 table {width:100%;}
	.tbl01 thead th {font-size:12px;text-align:center;font-weight:normal;background:#fff8ec;padding:10px 0;border-bottom:1px solid #dbdbdb;}
	.tbl01 tbody td {text-align:center;font-size:12px;border-bottom:1px solid #dbdbdb;padding:10px 0;}
	.tbl01 tbody td img {vertical-align:middle;margin-right:8px;}
	.tbl01 tbody td.left {text-align:left;padding-left:20px;}
	.tbl01 tbody td .appoint {text-align:left;line-height:19px;padding-left:30px;}
	.tbl01 tbody td.conTxt {text-align:left;line-height:21px;padding:40px 30px;}

	.paging {text-align:center;margin:30px 0;font-size:14px;}
	.paging a {color:#666;background:url('/public/img/paging_line.gif') no-repeat right 50%;padding:0 7px 0 4px;}
	.paging a.on {color:#000;}

	.editorArea {font-size:12px;padding:25px 50px;}
	.editorArea .rep_name {height:30px;background:url('/public/img/bg_reply.png') no-repeat 0 50%;width:874px;margin-left:-17px;position:relative;top:7px;}
	.ie7 .editorArea .rep_name {left:-17px;}
	.rep_name>div {margin-top:-10px;}
	.editorArea span.rep_time {float:right;}
	.ie7 .editorArea span.rep_time {float:right;margin-top:-12px;}
	.rep_answer {margin:12px 0;border:1px solid #d2d2d2;padding:10px 30px;}